<%- include('./partials/head') %>

    <section class="container">
        <h1>Contact</h1>
        
        <section class="contact-info">
            <h3>Hotel De Hallen</h3>
            <p>Website: <a href="http://www.hoteldehallen.com">www.hoteldehallen.com</a></p>
            <p>Email: <a href="mailto:info@hoteldehallen.com">info@hoteldehallen.com</a></p>
            <p>Tel: +31(0)20 8 208 670</p>
        </section>

        <section class="contact-info">
            <h3>De Hallen Studio’s</h3>
            <p>Website: <a href="http://www.hallenstudios.nl">www.hallenstudios.nl</a></p>
            <p>Email: <a href="mailto:info@dehallenstudios.nl">info@dehallenstudios.nl</a></p>
            <p>Tel: +31(0)20 8208206</p>
        </section>

        <section class="contact-info">
            <h3>De FilmHallen</h3>
            <p>Website: <a href="http://www.filmhallen.nl">www.filmhallen.nl</a></p>
            <p>Email: <a href="mailto:info@filmhallen.nl">info@filmhallen.nl</a></p>
            <p>Tel: +31 85 000 4544</p>
        </section>

        <section class="contact-info">
            <h3>De Foodhallen</h3>
            <p>Website: <a href="http://www.foodhallen.nl">www.foodhallen.nl</a></p>
            <p>Email: <a href="mailto:info@foodhallen.nl">info@foodhallen.nl</a> (reserveren niet mogelijk)</p>
        </section>

        <section class="contact-info">
            <h3>The Maker Market</h3>
            <p>Website: <a href="http://www.themakerstore.nl">www.themakerstore.nl</a></p>
            <p>Email: <a href="mailto:hello@themakermarket.nl">hello@themakermarket.nl</a></p>
            <p>Tel: +31(0)20 2617667</p>
        </section>

        <section class="contact-info">
            <h3>Beheerorganisatie De Hallen Amsterdam</h3>
            <p>Email: <a href="mailto:info@dehallen-amsterdam.nl">info@dehallen-amsterdam.nl</a></p>
            <p>Tel: +31(0)20 7058164</p>
        </section>
    </section>


<%- include('./partials/foot') %>