<%- include('./partials/head') %>

<main>
    <div class="image-homepage">
        <img src="/images/dda1dda0-0bca-43f1-bf2b-ab83bc26486a.jpg" alt="Logo">
        <div class="centered-title">Dienstenmarkt Markt Amsterdam</div>
    </div>
</main>

<%- include('./partials/foot') %>

