<%- include('./partials/head') %>

<main>
    <div class="image-homepage">
        <img src="/images/dda1dda0-0bca-43f1-bf2b-ab83bc26486a.jpg" alt="Logo">
        <div class="centered-title">Dienstenmarkt Markt Amsterdam</div>
    </div>
    
    <!-- Over ons Section -->
    <section class="about-us">
        <h2>Over ons</h2>
        <p>Welkom bij Dienstenmarkt Markt Amsterdam! Wij zijn een toegewijd team dat streeft naar het leveren van hoogwaardige diensten aan onze klanten in Amsterdam en omgeving.</p>
        <p>Ons bedrijf is opgericht met een passie voor het bieden van betrouwbare en efficiënte oplossingen voor allerlei diensten, van huishoudelijke taken tot zakelijke ondersteuning.</p>
        <p>Ontdek meer over onze diensten en onze missie om uw leven gemakkelijker te maken.</p>
        <div class="button-container">
            <a href="#" class="button">Onze Diensten</a>
            <a href="#" class="button">Ons Team</a>
        </div>
    </section>

</main>

<%- include('./partials/foot') %>

