/* Kleuren */
:root {
  --primair: #c58f1b; /* Hoofdkleur */
  --tekst: #333; /* Tekstkleur */
  --link: rgb(255, 255, 255); /* Kleur van links */
  --bezocht-link: rgb(0, 0, 0); /* Kleur van bezochte links */
  --hover-link: red; /* Kleur van links bij hover */
  --actieve-link: rgb(255, 255, 255); /* Kleur van actieve links */
}

/* Basisstijl */
html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: auto;
  font-size: 14px;
}

/* Links en navigatiemenu */
a,
nav ul,
nav ul li {
  width: auto;
  text-decoration: none;
  color: var(--tekst);
  list-style-type: none;
  margin: 0;
  align-items: center;
  padding: 0;
}

a:hover {
  color: var(--hover-link);
}

a:visited {
  color: var(--bezocht-link);
}

a:active {
  color: var(--actieve-link);
}

/* Algemene stijl */
body {
  font-family: 'PP Formula', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
}

/* Horizontale navigatiemenu */
nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: var(--tekst);
}

/* Hoofdinhoud */
main {
  display: block;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  padding-top: 60px;
}

.item {
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-top: 60px;
  margin-bottom: 20px;
}

/* Footer */
footer {
  background-color: var(--primair);
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.vraag-section,
.aanbod-section {
  flex: 1;
  margin-right: 20px;
  display: block;
}

.show-section {
  display: block;
}

/* Afbeelding op homepage */
.image-homepage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.image-homepage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* homepagina tekst */
.centered-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 40px;
}

/* Zorgen dat de header bovenaan staat */
header {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 100%;
  width: 100px;
  z-index: 1000;
}

nav {
  color: var(--link);
  padding: 10px;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: var(--tekst);
}

/* Groene knop */
.button {
  display: inline-flex;
  flex-wrap: wrap;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 2.5rem;
  border-width: 1px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  line-height: 1.6;
  background-color: var(--primair);
  color: white;
  text-decoration: none;
}

button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: grey;
  color: white;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #555555;
}


/* Groene knop bij hover */
.green-button:hover {
  background-color: #b37e0f;
}

/* Aanpassingen voor sectiekoppen */
.vraag-section h2 h1,
.aanbod-section h2 h1 {
  text-align: center; /* Centreer de koppen */
  margin-top: 0; /* Verwijder eventuele bovenmarge */
  margin-bottom: 20px; 
}
.vraag-section p,
.aanbod-section p {
    text-align: center;
}

.categorie-bar {
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 200px; 
  flex: 0 0 auto; 
  margin-right: 20px; */
}




.categorie-bar h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--tekst)


}

.categorie-bar ul {
  list-style-type: none;
  padding: 0;
}

.categorie-bar ul li {
  margin-bottom: 10px;
}

.categorie-bar ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.categorie-bar ul li a:hover {
  color: #c58f1b;
}

.intro {
  max-width: 800px;
  padding: 20px; 
  text-align: left; 
  margin-bottom: 20px; 
  color: var(--tekst) ;
}

hr {
  border: none; 
  height: 1px; 
  background-color: var(--primair);
  width: 100; 
  margin: 20px 0; 
}


/* initiatief form  */
#initiatief {
  background-color: #ffffff;
  padding: 30px;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto; /* Het formulier wordt nu in het midden van de pagina geplaatst */
  margin-top: 50px;
  margin-bottom: 50px;
}

#initiatief label {
  display: block;
  margin-bottom: 5px;
}

#initiatief input[type="text"],
#initiatief input[type="email"],
#initiatief input[type="url"],
#initiatief textarea,
#initiatief input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

#initiatief textarea {
  resize: vertical;
}

#initiatief button {
  background-color: var(--primair);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 20px auto 0;
  font-size: 16px;
}

#initiatief button:hover {
  background-color: var(--tekst);
}

/* Stijl voor de like button */
#likeButton {
  font-size: 1.2rem; 
  color: red; 
  background: none; 
  border: none; 
  cursor: pointer; 
  transition: color 0.3s ease; /* overgang */
}

/* Hover effect */

#likeButton:hover {
  color: crimson; /* Verander de kleur bij hover */
}


/* Stijl voor de loading state */
#likeButton.loading {
  color: gray; /* Verander de kleur naar grijs tijdens het laden */
  pointer-events: none; /* Schakel interactie uit tijdens het laden */
}


.vraag-section,
.aanbod-section {
    max-width: 800px;
    margin: 0 auto; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: #f9f9f9;
    text-align: center; 
}
  
  img {
    max-width: 100%; 
    height: auto; 
  }


  .vraag-section li,
  .aanbod-section li {
  text-align: center;
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  text-align: left; 
  margin-bottom: 20px;
  }

.vraag-section li div,
.aanbod-section li div {
  flex: 1; 
  margin-left: 20px; 
  text-align: left; 
}

.vraag-section h3,
.aanbod-section h3 {
  overflow-wrap: break-word;
}


p.button {
    display: inline-block;
    padding: 10px 20px;
    height: 10px;
    background-color: #4a535c; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

/* Hover effect */
p.button:hover {
    background-color: #eeff00; 
}


  
  button {
    padding: 10px 16px; 
    font-size: 14px; 
  }


@media only screen and (min-width: 601px) {
  
  html {
    font-size: 16px;
  }

  
  .vraag-section h3,
  .aanbod-section h3 {
    font-size: 24px; /
    margin-bottom: 20px; 
  }


  .vraag-section p,
  .aanbod-section p,
  .vraag-section li div,
  .aanbod-section li div {
    font-size: 16px; 
    margin-bottom: 20px; 
  }

  /
  .vraag-section button,
  .aanbod-section button {
    font-size: 16px; 
    padding: 12px 20px;
  }
}
